/*
* Generales 
*/

.btn-outline-danger:hover {
    color: #fff!important;
}


/*******  Contenedor general */
.container_infographics {
        max-height: 900px;
        width: 100%;
}

.content_infographics {

}

/*******  Sección de filtros */
.section_filters {
    display: flex;

    padding: 10px;
    width: 100%;
}

/** btn resetar filtros */
#resetFilters {
    margin-top:2.6rem;
}

/* filtro por categorías */
.filter_category {
    padding: 5px;

}

/* filtro por palabra - buscador */
.input_filter {
    display: flex;
    align-items: center;
}

.filter_by_word {

}

.filter_by_word input[type="text"] {
    border: .8px solid #a2a2a2;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    outline: none;
}

.filter_by_word input[type="text"]:focus  {
    border: 1px solid #a2a2a2;
}

@keyframes FadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

/* Contendor Inforgafías */
.all_infographics {
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    gap: 1rem;
    padding-bottom: 1rem;

    display: grid;
    justify-content: center;

    scroll-behavior: smooth;
}

.row_infographics {
    max-width: 1200px;
    overflow-y: auto;

    padding: 10px; 
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;

}

.row_infographics::-webkit-scrollbar {
    display: none;
}

.row_categories_infographics {
    max-width: 1200px;
    overflow-y: auto;

    padding: 10px; 
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}


.row_categories_infographics::-webkit-scrollbar {
    display: none;
}

.btn-ver-mas {

}

.col_infographics {
    margin: 0 15px;
}

.card_infographics {

}

.category-group {

    animation: FadeIn 1s ease-in-out;

}

.category-group.hidden {
    opacity: 0;
}


/* Responsive  */
/* Dispositivos Móviles */
@media (max-width: 480px) { 
    /* Estilos para teléfonos pequeños */
}

@media (max-width: 768px) { 
    /* Estilos para teléfonos grandes y tablets pequeñas */

    /******* Contenedor infografías */
    .content_all_infographics {
        padding: 15px;
    }

    .card_infographics {
        height: 100%;
    }

    .section_filters {
        justify-content: center;
        padding: 15px;
    }
}

/* Dispositivos Tablets */
@media (min-width: 800px) { 
    .content_all_infographics {
        padding: 30px;
    }

    /* Contendor general */
    .container_infographics { 
    }   


    /* Contenedor filtros */
    .section_filters {
        justify-content: end; 
    }


    /* Contenido infografías */
    .card_infographics {
        height: 300px;
    }        

}

/* Dispositivos Laptop */
@media (max-width: 1280px) { 
    /* Estilos para laptops pequeñas y pantallas medianas */

}
